<!DOCTYPE html>
<html>
  <head>
    <title>Progate</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <%= link_to('タイムライン','/posts') %>
      <%= link_to('新規登録','/signup') %>
      <%= link_to('ログイン','/login') %>
      <%= link_to('ユーザー一覧','/users') %>
      <%= link_to('このWebページについて','/about') %>
    </header>
    <% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice] %>
      </div>
    <% end %>
    <div class='container'>
    <h1><%= @title %></h1>
      <%= yield %>
    </div>
    <footer></footer>
  </body>
</html>
